*{
  transition: all 0.5s;
}
.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin: 0;
}
.hidden {
  visibility: hidden;
}

.aTagColor {
  color: black;
  text-decoration: none;
}
.aTagColor:hover {
  color: mediumturquoise;
}
h1,
h2,
h3,
h4 {
  font-weight: bold;
}
/*header*/
.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 1.25rem 2rem;
  z-index: 10;
  background-color: rgb(255, 255, 255);
}
.headerContent {
  padding-left: 2rem;
  padding-right: 2rem;
  padding: 1.2rem 2rem;
  width: 100%;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: bold;
  background-color: rgb(255, 255, 255);
}
.headerTitle {
  display: inline-block;
}
.headerTitle a {
  font-size: 2rem;
}
.headerNavMenu {
  float: right;
  padding-top: 18px;
}
.headerNavMenu ul {
  padding: 0;
  margin: 0;
}
li{
  list-style-type: none;
}
.flexRow ul li {
  padding: 0 10px 0 10px;
}
ul.flexRow {
  justify-content: space-around;
}

/*section, main*/
.mainArticle,
.mainPortfolio,
.mainLink {
  padding: 35px 0 35px 0;
}

h2.articleTitle {
  font-size: 30px;
}
p.articleTitle {
  font-size: 20px;
}
.appWrap{
  margin-top: 150px;
}
dd .aTagColor{
  color:  blue;
}
dd .aTagColor :hover{
  color: mintcream;
}
.typeKo h1 {
  margin: 0;
  padding-right: 10px;
  border-right: 2px solid grey;
}
.typeEn h1 {
  margin: 0;
  padding-left: 10px;
}
.portfolioUl, .linkUl {
  padding: 10px 0 10px 0;
  margin: 0;
}
.portfolioLi{
  padding: 0;
  display: block;
  padding: 20px 0 20px 0;
}
.image img {
  display: block;
  border: 1px;
  width: 100%;
}
a.image img {
  display: block;
  border: 1px solid #dee2e6;
  width: 100%;
}
.image {
  display: inline-block;
  width: 50%;
  position: relative;
  vertical-align: middle;
}
.inner {
  display: inline-block;
  vertical-align: middle;
  padding-left: 2em;
}

.linkLi{
  padding: 0;
  display: block;
  padding: 20px 20px 20px 20px;
}
.flexRow .linkUl{
  justify-content: space-around;
}
.linkLogo{
  width: 80px;
  height: 80px;
}

/*footer*/
.flexRow.footerUl{
  padding: 0;
  margin: 0;
  align-items: flex-start;
  justify-content: left;
}
.footerLi {
  padding: 20px 10px 20px 10px;
  text-align: left;
  margin: 0 ;
}
